.canciones_contenedor{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    min-height: calc(100vh - 100px);
    .lista_canciones{
        color: black;
        padding: 40px;
        margin: 40px 0;
        width: 700px;
        max-width: 90vw;
        border-radius: 8px;
        display: flex;
        align-items: center;
        flex-direction:    column;
    }
    
}