*{
    padding: 0;
    margin: 0;

}
.App input{
    width: 320px;
    height: 55px;
    background-color: #FFFFFF;
    font-size: 17px;
    border-radius: 7px;
    border: 1px solid gray;
    box-shadow: 5px 5px 10px gray;

}
.App {
    background-color: #050505;
    height: 100vh;
    overflow: hidden;
}
.logoportada {
    max-width: 100vw;
    min-width: 300px;
    width: 30vw;
    display: block;
    margin: 0 auto;
}
.buttons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.buttoneventos{
    margin: auto;
    margin-bottom: 10px;
}
.top img{
    width: 50px;
    max-width: 50px;
    min-width: 50px;
    margin: 0 0;
}
.buttonvolver input{
    width: 50px;
    max-width: 50px;
    min-width: 50px;
}
.top{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
}