*{
    padding: 0;
    margin: 0;

}
.App input{
    width: 320px;
    height: 55px;
    background-color: #FFFFFF;
    font-size: 17px;
    border-radius: 7px;
    border: 1px solid gray;
    box-shadow: 5px 5px 10px gray;

}
.App {
    background-color: #050505;
}