*{
    padding: 0;
    margin: 0;
    font-family: Sora, sans-serif;
}
.App input{
    padding: 10px 30px;
    height: 55px;
    background-color: #FFFFFF;
    font-size: 17px;
    border-radius: 7px;
    border: 1px solid gray;
    box-shadow: 5px 5px 10px gray;

}
.App {
    background-color: #080808;
    height: 100vh;
    overflow: hidden;
}
.logoportada {
    max-width: 100vw;
    width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto;
}
.buttons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.buttoneventos{
    margin: auto;
    margin-bottom: 10px;
}
.top{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    img{
       width: 70px;
       height: 70px;
       margin: 0;
       display: inline;
    }
}